* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
*Hero section
*/

.hero-section {
  position: relative;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  overflow: hidden;
}
.nav-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  font-size: 20px;
}

.nav-tab > div {
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav-tab .route > ul {
  display: flex;
  list-style: none;
  column-gap: 9px;
}

.nav-tab .route > ul > a {
  color: white;
}

.hero-banner {
  width: 100%;
  height: 100%;
}

.hero-banner > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 70vh;
  }
  .nav-tab {
    width: 80%;
    left: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    height: 100vh;
  }
  .nav-tab {
    width: 60%;
    left: 20%;
  }
}

/*
middle navigation
*/

#middle-nav {
  padding: 15px 0;
}
#middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

#middle-section > div {
  display: flex;
  text-align: center;
}
#middle-section > div img {
  display: block;
  width: 50%;
}

#middle-section #route > ul {
  display: flex;
  list-style: none;
}

#middle-section #route > ul > a {
  color: rgb(13, 14, 26);
}

@media screen and (min-width: 768px) {
  #middle-section {
    justify-content: space-evenly;
    /* font-size: 25px; */
  }
  #middle-section > div img {
    width: 100%;
  }
}

/*
History Section
*/

#history #button-section {
  background-color: rgb(62, 78, 108);
}
#history #button-section button {
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  padding: 10px;
}

#history #button-section button:hover {
  background-color: antiquewhite;
  color: rgb(62, 78, 108);
  text-decoration: underline;
}

#history #tab-section {
  position: relative;
  height: 50vh;
  overflow: hidden;
}
#tab-image {
  height: 100%;
}
#tab-image img {
  display: block;
  width: 100%;
  height: 100%;
}

#tab-1-schedule {
  position: absolute;
  top: 0px;
}

/*
Climb Section
*/
#climb-2 {
  padding: 20px 0;
}

#climb-2 section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

#climb-2 div img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #climb-2 section {
    width: 60%;
    margin: auto;
  }
  #climb-2 div img {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  #climb-2 section {
    width: 100%;
    margin: auto;
  }
}
/*
Footer
*/

#footer {
  background-color: rgb(62, 78, 108);
  padding: 20px 0;
}

#footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  column-gap: 10px;
}
#footer-section > div {
  width: 30%;
  overflow: hidden;
}

#footer-section div img {
  width: 30%;
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 768px) {
  #footer {
    font-size: 20px;
  }
}

.history-section {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.history-image {
  width: 100%;
  height: 100%;
}
.history-image img {
  display: block;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 10px;
  overflow: hidden;
  color: white;
  font-size: 20px;
}

.content div:first-child img {
  display: block;
  width: 30%;
}
.content div:last-child {
  padding: 0 21px;
  border: 1px solid blue;
}

.history-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .content {
    padding-left: 20px;
  }
  .content div:first-child img {
    width: 20%;
  }
  .content div:last-child {
    padding: 0 41px;
  }
}

@media screen and (min-width: 1024px) {
  .history-section {
    height: 1000px;
  }
  .content {
    padding-left: 40px;
  }
  .content div:first-child img {
    width: 10%;
  }
}

.carousel-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 0;
}

/* Center Class */
.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

/* Wrapper Class */
.wrapper {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 55em;
}

.wrapper > .inner {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}

/* Card Class */
.card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card > img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  width: 17.5em;
}

.card > .content {
  background-color: blue;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1em;
  text-align: center;
}

.card > .content > h1,
.card > .content > h3 {
  margin: 0.35em 0;
}

.card > .content > h1 {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
}

.card > .content > h3 {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 300;
}

/* Map Class */
/* Default styles */
.carousel-container {
  background-color: rgba(59, 75, 100);
}

.map {
  margin-top: 1em;
}

.map > button {
  all: unset;
  background: gray;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  user-select: none;
  width: 10px;
  height: 10px;
  border: 10px;
  border-radius: 100%;
}

.map > button.active {
  background-color: white;
}

.map > button.active:after {
  background-color: yellow;
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.history-section {
  position: relative;
  overflow: hidden;
}

.history-image {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 10px;
}

.content:nth-child(0) {
  /* border: 1px solid blue; */
}
.content:last-child {
  padding: 0 21px;
  border: 1px solid blue;
}

.history-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.carousel-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 0;
}

/* Carousel CSS Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.container {
  /* max-width: 1400px; */
  width: 100%;
  padding: 60px 0;
  position: absolute;
  bottom: 0px;
  background-color: rgba(62, 78, 108, 0.7);
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 300px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: #ff1212;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}
